.pricing-box-items {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: #f5f5f5;
    padding: 0px 40px 40px;
    @include transition;

    .pricing-header {
        h2 {
            font-size: 40px;
            color: $header-color;
            @include transition;
        }

        p {
            margin-top: 5px;
            @include transition;
        }

        span {
            @include transition;
        }
    }

    .circle-icon {
        background-color: $theme-color;
        width: 60px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-radius: 50%;
        color: $white;
        @include transition;
        display: inline-block;
        margin-top: 40px;
    }

    ul {
        margin-top: 40px;

        li {
            @include transition;

            i {
                margin-right: 18px;
            }

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    h2 {
        color: $header-color;
        margin-top: 40px;
        @include transition;
    }

    &.style-2 {
        .pricing-header {
            @include flex;
            justify-content: space-between;

            span  {
                border-radius: 100px;
                background: $theme-color;
                color: $white;
                line-height: 1;
                padding: 10px;
            }
        }
    }

    &:hover {
        border-radius: 10px;
        background: $theme-color;

        .pricing-header {
            h2 {
                color: $white;
            }

            span {
                background-color: $white;
                color: $theme-color;
            }
        }

        .circle-icon {
            background-color: $white;
            color: #060606;
        }

        h2 {
            color: $white;
        }

        ul {
            li {
                color: $white;
            }
        }
    }

    &.active {
        border-radius: 10px;
        background: $theme-color;

        .pricing-header {
            h2 {
                color: $white;
            }

            span {
                background-color: $white;
                color: $theme-color;
            }
        }

        .circle-icon {
            background-color: $white;
            color: #060606;
        }

        h2 {
            color: $white;
        }

        ul {
            li {
                color: $white;
            }
        }
    }
}

.pricing-content {
    margin-left: 40px;
    position: relative;
    z-index: 9;

     @include breakpoint (max-xl){
       margin-left: 0;
    }

    .section-title {
        h2 {
            font-size: 50px
        }
    }

    .shape-1 {
        position: absolute;
        z-index: -1;
        left: 10%;

        @include breakpoint (max-xxl){
            display: none;
        }
        
    }

    .client-info {
        @include flex;
        gap: 20px;
        margin-top: 150px;
        margin-left: 90px;

        @include breakpoint (max-xxl){
            margin-left: 0;
            margin-top: 30px;
        }
    }
}